<nav class="dark" style="position:fixed; z-index:1000;">
  <div class="nav-wrapper">
    <% if current_user %>
    <a href="/songs"><img src="/assets/codingdojo.png"</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/users/<%= current_user.id %>"><span class="light-blue-text"><%= current_user.first_name %></span></a></li>
      <li><a href="/songs">Dashboard</a></li>
      <li>
        <%= link_to "Log out", "/logout", data: { method: :delete, confirm: "Are you sure?"} %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>

<div class="container-info">

    <h2><span class="white-text"><%= @this_user %>'s</span> Playlist</h2>

    <div class="scrolling-wrapper">
      <table class="highlight">
          <thead>
          <tr>
            <th class="theader">Artist     </th>
            <th class="theader">Title      </th>
            <th class="theader">Times Added</th>
          </tr>
          </thead>
          <tbody>
            <% @user.songs_added.select(:artist, :title, :id).group(:artist, :title, :id).having("count(*) >= 1").size.each do |key, value| %>
            <tr class="trbody usr">
                <td><%= key[0] %></td>
                <td><%= key[1] %></td>
                <td><%= @user.songs_added.where(id: key[2]).count %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
</div>
