<!--
[Navbar - Song Component ]
-->
<nav class="dark" style="position:fixed; z-index:1000;">
  <div class="nav-wrapper">
    <% if current_user %>
    <a href="/songs"><h4 class="_logo">DOJO<span>PLAYLIST</span></h2></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/songs">Dashboard</a></li>
      <li>
        <%= link_to "Log out", "/logout", data: { method: :delete, confirm: "Are you sure?"} %>
      </li>
    </ul>
    <% end %>
  </div>
</nav>

<!--
[ Main Container - Song Component ]
-->
<div class="container-info">
  <div class="col s12">
    <h2>Others Who Added
      <span class="grey-text"><%= @this_song.artist %></span> -
      <span class="white-text"><%= @this_song.title %></span>
    </h2>

    <div class="scrolling-wrapper">
      <table class="highlight">
        <thead class="thdark">
          <tr>
            <th class="white-text theader">Name       </th>
            <th class="white-text theader">Times Added</th>
          </tr>
        </thead>
        <tbody>
          <% @this_song.users.select(:first_name, :last_name, :email, :id).group(:first_name, :last_name, :email, :id).having("count(*) >= 1").size.each do |key, value| %>
            <tr class="trbody">
              <td> <a href="/users/<%= key[3] %>" class="light-blue-text text-accent-2"><%= key[0] %> <%= key[1] %></a> </td>
              <td><%= @this_song.users.where(email: key[2]).count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
